name: Deploy
on:
  workflow_run:
    workflows:
      - Checks
    types:
      - completed

env:
  NODE: 22

permissions:
  id-token: write
  contents: read
  actions: read

jobs:
  deploy-staging:
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.head_branch == 'main' }}
    runs-on: ubuntu-latest
    environment: staging

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          run-id: ${{ github.event.workflow_run.id }}
          name: vbos-bundle-staging
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path: ./dist

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.DEPLOY_ROLE_ARN }}
          aws-region: us-east-1

      - name: Sync with S3 bucket
        env:
          BUCKET: ${{ vars.S3_BUCKET }}
        run: |
          aws s3 sync \
            ./dist "s3://${BUCKET}" \
            --acl public-read \
            --follow-symlinks \
            --delete

      - name: Invalidate CloudFront
        env:
          DISTRIBUTION: ${{ vars.CLOUDFRONT_DISTRIBUTION }}
        run: |
          aws cloudfront create-invalidation \
            --distribution-id $DISTRIBUTION \
            --paths "/*"